/*NAV*/
nav{
  background-color: #121855 !important;
}

.nav-wrapper{
  background-color: #121855 !important;
}

/*FOOTER*/

.page-footer{
  background-color: #121855 !important;
}

/*<------- FORMULÁRIOS ------->*/

/* Alterando cores dos inputs */
.input-field input:focus + label {
    color: #121855 !important;
  }

.row .input-field input:focus {
  border-bottom: 1px solid #121855 !important;
  box-shadow: 0 1px 0 0 #121855 !important
}



main {
  flex: 1 0 auto;
}


/*<------- QUERIES DA PÁGINA DE LOGIN ------->*/

@media (min-width: 768px) { 
  #slogin {
    margin-top: 2%; /*FORM Ipad paisagem*/
  }
}



